<h1>Welcome to UREDDIT {{user.userName}}</h1>
<a href="/users/{{user._id}}/edit">Edit My Login Info</a><br/>
<form method="POST" action="/users/{{user._id}}?_method=delete">
      <input type="submit" value="Delete My Account">
</form>
<br />
<br />
<h3>Your Posts:</h3> <br />
<ul>
{{#each user.posts}}
  <li>
    <h5><a href="/posts/{{this._id}}">{{this.title}}</a></h5>
    <p>{{this.body}}</p><br />
    <a href="/posts/{{this._id}}/comments">See Comments</a><br />
    <a href="/posts/{{this._id}}/edit">Edit Post</a><br/>
    <form method="POST" action="/posts/{{this._id}}?_method=delete">
      <input type="submit" value="Delete Post">
    </form>
  </li>
  {{/each}}
</ul>
<h3>Your Comments:</h3> <br />
<ul>
{{#each user.comments}}
  <li>
    <p>{{this.body}}</p><br />
  </li>
  {{/each}}
</ul>

<!-- add user logged in button, update link, delete user button-->