<h3>Individual Post View</h3> <br />
<ul>
  <li>
    <h5>{{post.title}}</h5>
    <p>{{post.body}}</p><br />
    <a href="/users/{{post.user}}">{{post.user}}</a>
    <a href="/posts/{{post._id}}/comments">See Comments</a>
  </li>
</ul>