<h3>Individual Post View</h3> <br />
<ul>
  <li>
    <h5>{{post.title}}</h5>
    <p>{{post.body}}</p><br />
    {{#if post.user}}
    {{#unless isUsers}}
    <a href="/users/{{post.user._id}}">{{post.user.userName}}</a>
    {{/unless}}
    {{else}}
    <p>Original poster's user account has been deleted</p>
    {{/if}}
    <a href="/posts/{{post._id}}/comments">See Comments</a>
    {{#if isUsers}}
    <a href="/posts/{{post._id}}/edit">Edit this post</a><br />
    <form method="POST" action="/posts/{{post._id}}?_method=DELETE">
      <input type="submit" value="Delete" />
    </form>
    {{/if}}
  </li>
</ul>